.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
}

html, body {
    height: 100%;
}

header,
.view {
    height: 100%;
}

/* These are needed to override the browser stylesheet for the search box placeholder text color */
.search-box::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.search-box:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.search-box::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.search-box:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.search-box::-ms-input-placeholder { color: white; }  /* Microsoft Edge */
.search-box::placeholder { color: white;} /* Chrome, Firefox, Opera*/
